{% extends "blogs/layout.html" %}

{% block content%}
    {% for item in posts %}
       
          <div class="card" style="margin-top: 18px;">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.content }}.</p>
            </div>
            <div class="card-footer" style="text-align: right;">
                <p class="card-text">Posted on {{ item.date_posted }}</p>   
            </div>
          </div>
    {% endfor %}
{% endblock content%}
   